DB_SYNCHRONIZE=false

MYSQL_DB_HOST="mariadb"
MYSQL_DB_PORT=3306
MYSQL_DB_DATABASE="nestjs"
MYSQL_DB_USERNAME="root"
MYSQL_DB_ROOT_PASSWORD=""
MYSQL_DB_PASSWORD=""

PGSQL_DB_HOST="postgres"
PGSQL_DB_PORT=5432
PGSQL_DB_DATABASE="nestjs"
PGSQL_DB_USERNAME="postgres"
PGSQL_DB_PASSWORD=""

JWT_SECRET=""
JWT_EXPIRES_AT="1h"

#RabbitMQ
RABBITMQ_QUEUE=post.created
RABBITMQ_HOST=127.0.0.1
RABBITMQ_PORT=5672
RABBITMQ_USER=
RABBITMQ_PASSWORD=
RABBITMQ_VHOST=/

#Kafka
KAFKA_QUEUE=post.deleted
KAFKA_BROKER=127.0.0.1:9092
KAFKA_CLIENT_ID=nestjs-service
KAFKA_GROUP_ID=nestjs-post-group